<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, data: { turbo: false }  %>
    <% else %>
      <%= button_to "Sign in with Strava", user_strava_omniauth_authorize_path, data: { turbo: false } %>
    <% end %>
    <%= yield %>
  </body>
</html>
